#credit-cmpnt-container
{
  /* position: absolute; */
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0 10px 0;
}

#credit-cmpnt-container p{
  font-size: 14px;
  margin: 0;
  text-align: center;
}

#credit-cmpnt-container span
{
  position: relative;
  color: #00D2D4 ;
}