#nav-submenu{
    display: none;
}

.navi-item:hover #nav-submenu{
    display: block;
  }


#header-cmpnt-container {
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.navi-item{
  /* display: inline; */
  display: inline-block;
  position: relative;
}

.navi-item:hover {
  background-color: blue;


}
.navi-item:hover>#nav-submenu {
    display: block;
}
#navi-bar{
  /* display: inline; */
  text-align: center;
}
    
#nav-submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  /* width: $submenu-width; */
  background-color: blue;
}
    
.submenu-item:hover {
    background: rgba(blue, 0.1);
  }