#mission-title{
  margin-left: 100px;
}

#mission-title p span{
  font-size:  88px;
  color: #646666;
}
#mission-cmpnt-container {
  background-color: #ffffff;
  width: 100%;
  padding-top: 100px;
}

#mission-list-container {
  /* width: 100%; */
  align-content: center;
  padding:5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.mission-item-container {
  /* display: inline; */
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 70%;
}

.mission-item-num{
  font-size: 260px;
  
}

.mission-item-num span{
  color: #CCCCCA;

}

.mission-content-title{
  font-size: 36px;
  color:#0099ff;
  margin-bottom: 50px;
}
.mission-content-text{
  font-size:18px;
  color: #646666;
}

#mission-video-container video{
  width: 800px;
  height: 450px;
  display: block;
  margin: 0 auto;
}